<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         colors="true"
         failOnAllIssues="true"
         cacheDirectory="var/cache/phpunit">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage ignoreDeprecatedCodeUnits="true">
        <report>
            <clover outputFile="var/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
